# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Project-specific files
apache_projects*.json
apache_projects_data.txt
cached_lm_*

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Model files
gpt2-apache-projects/
